h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #191919;
    margin-bottom: 40px;
}

p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #191919;
    width: 900px;
}

.contentContainer {
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.firstContainer {
    background-image: url(../../images/avatar1.png);
    background-repeat: no-repeat;
    height: 500px;
    background-position: right;
        p {
            width: 700px;
        }
}

.secondContainer {
    margin-top: 30px;
    background-image: url(../../images/avatar2.png);
    background-repeat: no-repeat;
    background-size: 470px;
    background-position-x: right;
    background-position-y: bottom;
        p {
            width: 1000px;
        }
}



.block {
    width: 430px;
    height: 215px;
    border-radius: 10px;
    background-color: rgb(253, 242, 232);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
        .blockText {
            font-size: 19px;
            font-weight: 500;
            font-family: "Open Sans";

        }
        .blockTitle{
            font-size: 32px;
            font-weight: 600;
            font-family: "Inter";
            color: rgb(236, 94, 36)
        }
    
}

.blockContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
}

.thirdContainer {
    margin-top: 100px;
    img {
        width: 900px;
    }
}


.diagrammaContainer {
    margin-top: 40px;
    margin-bottom: 40px;
}

.thirdContainer {
    background-image: url(../../images/avatar3.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 500px;

}


.fourContainer {
    margin-top: 40px;
    background-image: url(../../images/avatar4.png);
    background-position-x: right;
    background-position-y: bottom;
    background-size: 500px;
    background-repeat: no-repeat;
    img {
        width: 900px;
    }
    .washContainer {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}


.fiveContainer {
    margin-top: 80px;
    background-image: url(../../images/avatar5.png);
    background-position-x: right;
    background-position-y: bottom;
    background-size: 480px;
    background-repeat: no-repeat;

    .bigBlock {
        width: 900px;
        height: 330px;
        border-radius: 10px;
        background-color: rgb(253, 242, 232);
        margin-top: 30px;
        padding-left: 40px;
        padding-top: 20px;
        .helperBlock {
            display: flex;
            margin-top: 20px;
        }
        .bigBlockTitle {
                font-size: 28px;
                font-weight: 500;
                font-family: "Inter";
                color: #ec5e24;
        }
        .helperTitle {
                font-size: 20px;
                font-weight: 600;
                font-family: "Inter";
                color: #ec5e24;
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-right: 20px;
                
        }
        .helperText {
            font-size: 20px;
            font-weight: 600;
            font-family: "Open Sans";
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .webCamera {
            margin-top: 30px;
        }
    }
}

.finalText {
    margin-top: 30px;
}

@media (max-width: 1440px) {
    .blockContainer {
        .block{
            width: 380px;
        }
    }

    .diagrammaContainer {
        img {
            width: 751px;
        }
    }

    p {
        width: 800px;
    }

    .washContainer {
        img {
            width: 786px;
        } 
    }

    .fiveContainer {
        .bigBlock {
            width: 786px;
            height: 400px;
            
            .rating {
                margin-top: 70px;
            }
        }
    }
}


@media (max-width: 1024px) {

    .contentContainer {
        padding-left: 20px;
    }

    p {
        width: 700px;
    }

    .blockContainer {
        .block{
            width: 350px;
        }
    }

    .diagrammaContainer {
        img {
            width: 710px;
        }
    }

    .washContainer {
        img {
            width: 710px;
        } 
    }

    .fiveContainer {
        .bigBlock {
            width: 710px;
            height: 500px;
            
            .rating {
                margin-top: 70px;
            }
        }

    }


    .contentContainer {
        width: 100%;
    }

    .firstContainer {
        background-size: 400px;
    }

    .secondContainer {
        background-size: 360px;
    }

    .thirdContainer {
        background-size: 400px;
    }

    .fourContainer {
        background-size: 400px;
    }

    .fiveContainer {
        background-size: 390px;
    }

}

@media (max-width: 1023px) {
    .contentContainer {
        width: 100%;
    }
    p {
        width: unset;
    }
    .firstContainer {
        padding-bottom: 600px;
        background-position: bottom;
        p {
            width: unset;
        }
    }
    .secondContainer {
        padding-bottom: 300px;
        background-position: bottom;
        p {
            width: unset;
        }
    }

    .thirdContainer {
        padding-bottom: 300px;
        background-position: bottom;
        img {
            width: 100%;
        }
    }

    .fourContainer {
        padding-bottom: 300px;
        background-position: bottom;
        img {
            width: 100%;
        }
    }

    .fiveContainer {
        padding-bottom: 320px;
        background-position: bottom;
        .bigBlock {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 460px) {
    .firstContainer{
        padding-bottom: 770px;
    }
}

@media (max-width: 420px) {
    .fiveContainer {
        display: none;
    }
}
