%fonts {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}


.header {
    height: 64px;
    display: flex;
    justify-content: space-around;
    gap: 150px;
    background: #FFFFFF;
    position: sticky;
    top: 0px;
    z-index: 4;
    align-items: center;
    
}

.headerLogo {
    margin-left: 197px;
    width: 141px;
    height: 32px;
    align-self: center;
    cursor: pointer;
}

.headerMenu {
    display: flex;
    gap: 32px;
    align-self: center;
}



.basketPosition {
    align-self: center;
    margin-right: 195px;
}



.headerMenu {
    div {
        cursor: pointer;
        @extend %fonts
    }
}