%fonts {
    font-family: 'Inter';
    font-style: normal;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.deleteBtn {
    font-family: 'Inter';
    font-style: normal;
    width: 63px;
    height: 28px;
    background: #FF7010;
    border-radius: 6px;
    color: #F0F0F0;
    border: none;
}

.prodContainer {
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    height: 152px;
    width: 100%;
    align-items: center;
    margin-top: 16px;

        img {
            width: 120px;
            height: 120px;
        }
}

.name {
    @extend %fonts;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #191919;
    margin-bottom: 8px;
}

.description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 400px;
    overflow: hidden
}

.price {
    @extend %fonts;
    color: #FF7010;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.buttonContainer {
    display: flex;
    margin-right: 24px;
    align-items: center;
    gap: 20px;
}

.content {
    display: flex;
    margin-left: 16px;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    justify-content: center;
}


.addContainer {
    background: #FFEEE2;
    border-radius: 6px;
    width: 92px;
    height: 36px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
        div {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #FF7010;
        }
        button {
            border: none;
            background-color: #FFEEE2;
            color: #FF7010;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
        }

        input {
            width: 20px;
            height: 36px;
            outline: none;
            border: none;
            background: #FFEEE2;
            @extend %fonts;
            text-align: center;
        }

        input::-webkit-inner-spin-button {  -webkit-appearance: none;}

        .minus {
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            height: 36px;
        }
}

.adoptedContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .buttonContainer {
        margin-left: 20px;
    }
}