.productsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 32px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}

.prodContainer {
    h1 {
        display: flex;
        color: #191919;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
        justify-content: space-between;
        margin-left: 155px;
        margin-top: 48px;
        padding-bottom: 10px;
    }
}


.btnFilter {
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
    width: 126px;
    height: 40px;
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #191919;
    align-items: center;
    justify-content: center;
    margin-right: 155px;
        img {
            width: 16px;
            height: 16px;
            margin-right: 8px;
        }
}

.filterContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


.search {
    width: 500px;
    height: 40px;
    padding-left: 15px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    background: #FFFFFF;
    outline: none;
    color: #191919;
}

.mobileSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    input {
        width: 80%;
        height: 40px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        border: 1px solid #F0F0F0;
        border-radius: 6px;
        background: #FFFFFF;
        outline: none;
        color: #191919;
        padding-left: 15px;
    }
}

@media (max-width: 1024px) {
    .prodContainer {
        h1 {
            margin-left: 40px;
        }
    }
    .filterContainer {

    }
}



