.mobileHeader {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    position: sticky;
    top: 0;
    height: 62px;
    background-color: #FFFFFF;
}