%fonts {
    font-family: 'Inter';
    font-style: normal;
    line-height: 40px;
}


.prodContainer {
    width: 380px;
    height: 126px;
    display: flex;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

        img {
            width: 94px;
            height: 94px;
            margin-right: 16px;
            margin-left: 16px;
        }
}

.priceContainer {
    display: flex;
    margin-top: 18px;
    gap: 20px;
    align-items: center;
}

.deleteBtn {
    font-family: 'Inter';
    font-style: normal;
    width: 63px;
    height: 28px;
    background: #FF7010;
    border-radius: 6px;
    color: #F0F0F0;
    border: none;
}

.title {
    color: #191919;
    @extend %fonts;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

.name {
    @extend %fonts;
    line-height: 20px;
    font-size: 16px;
    font-weight: 600;
}


.description {
    @extend %fonts;
    font-size: 14px;
    line-height: 18px;
}

.price {
    color: #FF7010;
    font-size: 16px;
    line-height: 20px;
    @extend %fonts;
    font-weight: 600;
    margin-right: 16px;
    width: 144px;
}

.titleContainer {
    width: 238px;
    height: 114px;
}

.downContainer {
    display: flex;
    align-items: center;
    @extend %fonts;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    background: #FFFFFF;
    
}

.finalPrice {
    color: #FF7010;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    position: absolute;
    left: 20px;
}

.sendBtn {
    background: #FF7010;
    border-radius: 6px;
    width: 178px;
    height: 48px;
    border: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Open Sans';
}

.basketWindowContainer {
    justify-content: space-between;
}

.link {
    left: 230px;
    position: absolute;
    text-decoration: none;
}

.addContainer {
    background: #FFEEE2;
    border-radius: 6px;
    width: 92px;
    height: 36px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
        div {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #FF7010;
        }
        button {
            border: none;
            background-color: #FFEEE2;
            color: #FF7010;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
        }
}

.container {
    margin-bottom: 72px;
}

.crossContainer {
    display: flex;
    margin-top: 32px;
    justify-content: space-around;
    align-items: center;
    
    button {
        border: none;
        background: none;
    }
}

@media (max-width: 1023px) {
    .finalPrice {
        left: 50px;
    }

    .link {
        left: 550px;
        text-decoration: none;
    }
}

@media (max-width: 425px) {
    .finalPrice {
        left: 50px;
    }

    .link {
        left: 220px;
    }
}

@media (max-width: 375px) {
    .finalPrice {
        left: 20px;
    }

    .link {
        left: 230px;
    }
}

@media (max-width: 375px) {
    .finalPrice {
        left: 0px;
    }

    .link {
        left: 150px;
    }
}