%fonts {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}


.header {
    height: 64px;
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    position: sticky;
    z-index: 1;
    top: 0px;
    box-shadow: 10px 10px 3px -3px rgba(0,0,0,.1);
}

.helpHeader {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    
    width: 141px;
    height: 32px;
    align-self: center;
    cursor: pointer;
}

.headerMenu {
    display: flex;
    gap: 32px;
    align-items: center;
    @extend %fonts;
}



.basketPosition {
    align-self: center;
}



.headerMenu {
    div {
        cursor: pointer;
        @extend %fonts;
    }
}


@media (max-width: 1024px) {
    .header {
        justify-content: none;  
    }

    .headerMenu {
        gap: 15px;
    }

    .helpHeader {
        gap: 10px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}