%fonts {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #191919;
}

.mainContainer {
    width: 300px;
    height: 480px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    overflow: hidden;
}

.productImage {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.productName {
    @extend %fonts;
    font-weight: 600;
    height: 25px;
    overflow: hidden;
}

.productDescription {
    @extend %fonts;
    font-size: 16px;
    margin-top: 12px;
    height: 50px;
    overflow: hidden;
}

.price {
    @extend %fonts;
    font-size: 18px;
    color: #FF7010;
}

.priceContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
}

.productTitle {
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
}