%fonts {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #191919;
}

.mainContainer {
    width: 300px;
    height: 480px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}

.imgContainer {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
}

.productImage {
    width: 2900px;
    height: 290px;
    transition: margin-top 0.3s;
}

.productImage:hover {
    margin-top: 10px;
    cursor: pointer;
}


.productName {
    @extend %fonts;
    font-weight: 600;
    height: 25px;
    overflow: hidden;
}

.productDescription {
    @extend %fonts;
    font-size: 16px;
    margin-top: 12px;
    height: 50px;
    overflow: hidden;
}

.price {
    @extend %fonts;
    font-size: 18px;
    color: #FF7010;
}

.priceContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
}

.productTitle {
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
}

.productButton {
    font-size: 16px;
    color: #FFFFFF;
    width: 131px;
    height: 48px;
    background: #FF7010;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.productButton:hover {
    background: rgb(236, 100, 3);
}

.mobileMainContainer {
    display: flex;
    height: 124px;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    background: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    gap: 12px;

    .mobileImgContainer {
        margin-left: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobileProductImage {
        width: 100px;
        height: 100px;
    }

    .mobileProductTitle {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-right: 12px;
    }

    .mobileProductName {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #191919;
    }

    .mobileProductDescription {
        height: 32px;
        overflow: hidden;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #191919;
    }

    .mobileProductButton {
        background: #FFEEE2;
        border-radius: 6px;
        width: 93px;
        height: 32px;
        border: none;
    }

    .mobileProductButton:hover {
        background: #FF7010;
    }
}