.firstTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #191919;
    display: flex;
    margin-left: 415px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.promo {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.secondTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #191919;
    margin-top: 30px;
    margin-bottom: 16px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}