%fonts {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #191919;
}


.footer {
    @extend %fonts;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    padding-bottom: 40px;
}

.footerLogo {
    margin-left: 197px;
    width: 141px;
    height: 32px;
    align-self: center;
    cursor: pointer;
}

.footerContainer {
    margin-right: 150px;

    img{
        height: 20px;
        width: 20px;
        margin-right: 12px;
        align-items: center;
    }
}

.contacts {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 23px;
    margin-top: 32px;
}

.phoneContainer{
    font-size: 16px;
    display: flex;

}

.geoContainer {
    margin-top: 22px;
    display: flex;
}

.socialsContainer{
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
}

.facebookContainer {
    display: flex;
}

.instContainer {
    display: flex;
}