%fonts {
    font-family: 'Inter';
    font-style: normal;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.prodContainer {
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    width: 850px;
    height: 152px;
    align-items: center;
    margin-top: 16px;

        img {
            width: 120px;
            height: 120px;
        }
}

.name {
    @extend %fonts;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #191919;
    margin-bottom: 8px;
}

.description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.price {
    @extend %fonts;
    color: #FF7010;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-left: 40px;
}

.buttonContainer {
    display: flex;
    margin-right: 24px;
}

.content {
    display: flex;
    margin-left: 16px;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    justify-content: center;
}