%fonts {
    color: #A5A5A5;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.nameContainer {
    display: flex;
    flex-direction: column;
    
    input {
        background: #FFFFFF;
        border: 1px solid #F0F0F0;
        border-radius: 6px;
        outline: none;
        width: 270px;
        height: 48px;
        padding: 16px;
        
    }

    .titleInpContainer {
        display: flex;
        gap: 20px;

    }
}

.homeContainer {
    display: flex;
    gap: 20px;
    margin-top: 16px;
    justify-content: center;
    input {
        background: #FFFFFF;
        border: 1px solid #F0F0F0;
        border-radius: 6px;
        outline: none;
        width: 154px;
        height: 48px;
        padding: 16px;
        
    }
}

.timeContainer {
    display: flex;
    gap: 24px;
        div {
            display: flex;
            align-items: center;
            gap: 8px;
        }
        label {
            @extend %fonts;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #191919;
        }
}

.textArea {
    resize: none;
}

.helpTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px;
    color: #A5A5A5;
}

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

.street {
        background: #FFFFFF;
        border: 1px solid #F0F0F0;
        border-radius: 6px;
        outline: none;
        width: 100%;
        height: 48px;
        padding: 16px;
}

.streetContainer {
    display: flex;
    flex-direction: column;
    margin-top: 41px;
}

.timeTitle {
    font-family: 'Inter';
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 8px;
    color: #A5A5A5;
    margin-top: 16px;
}

.payContainer {
    
    margin-top: 41px;
    
}

.radioContainer {
    display: flex;
    gap: 24px;
        div {
            display: flex;
            align-items: center;
        }
        input {
            margin-right: 8px;
        }
        label {
            @extend %fonts;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #191919;
        }
}

.titlePay {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

.cashbackContainer {
    margin-top: 41px;

    .cashbackTitle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #191919;
    }

    .cashbackRadioContainer {
        display: flex;
        gap: 24px;
        input {
            margin-right: 8px;
        }

        label {
            @extend %fonts;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #191919;
        }
        .cashbackInp {
            width: 160px;
            height: 48px;
            border: 1px solid #F0F0F0;
            border-radius: 6px;
            background: #FFFFFF;
            outline: none;
            padding-left: 16px;
        }

        .cashbackInp:disabled {
            background: #e9ecef;
        }
    }
}


.commentContainer {
    margin-top: 41px;
    .commentTitle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #191919;
        margin-bottom: 16px;
    }

    .textArea {
        width: 100%;
        height: 200px;
        outline: none;
        border: 1px solid #F0F0F0;
        border-radius: 6px;
        padding-left: 16px;
        padding-top: 13px;
        @extend %fonts;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #191919;
    }
}

.sendContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
    align-items: center;
    .finalPrice {
        color: #FF7010;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
    }

    button {
        background: #FF7010;
        border-radius: 6px;
        @extend %fonts;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        border: none;
        width: 175px;
        height: 48px;
    }

    button:disabled {
        background: #ff701059;
        border-radius: 6px;
        @extend %fonts;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        border: none;
        width: 175px;
        height: 48px;
        cursor: pointer;
    }
}

.inp::-webkit-outer-spin-button,
.inp::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.faster {
  position: relative;
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  z-index: 1;
  cursor: pointer;
}

.faster::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #FF7010;
}

.faster:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #FF7010;
  transform: translate(-50%, -50%);
  visibility: visible;
}

.inpContainer {
    display: flex;
    align-items: center;
}

.submitText {
    text-decoration: none;
}

.errorContainer {
    color: red;
    font-size: 12px;
    font-family: 'Open Sans';
}


@media (max-width: 1023px){
    .titleInpContainer {
        display: flex;
        flex-direction: column;
    }

    .street {
        width: 100%;
    }

    .homeContainer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .timeContainer {
        display: flex;
        flex-direction: column;
    }

    .radioContainer {
        display: flex;
        flex-direction: column;
    }

    .cashbackRadioContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .textArea {
        width: 100%;
    }
    
    .sendContainer {
        display: flex;
        flex-direction: column;
    }
}
